[Unit]
Description=Run the joinmultiplayer town crier every 15 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
